#output{
    background-image: linear-gradient(90deg,#ff3131,#ff914d);
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    height:30px;
    width:465px;
}
.header{
  font-size: 27px; 
  font-family: yeon sung; 
}
body{
    background-color: peachpuff;
    align-items: left;
    }
#msg{
      width:465px;
      background-color: black;
      text-decoration: white;
      color: white;
    }
#logo{
      height:350px;
      padding-top: 25px;
  }

  .Send{
    width:465px;
    height:30px;
    font-weight: bold;
  }
  #logout{
    background-color: black;
    color:white;
  }

  .btn-text-right{
    text-align: right;
    width: 1050px;
}
